body{
    background: url("/media/img4.png");
    /* backgroung image pixels should be 1920 x 1080 px  */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.regform{
    width: 500px;
    margin: 250px auto;
    padding: 10px 20px 30px;
    background-color: rgb(0, 0, 0,.2);
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.regform h2{
    text-align: center;
    color: #E29578;
}

.regform .textlable{
    display: block;
}
.input input{
    width:100%;
    font-size: 1.2em;
    border: 1px solid #1fc28bf8;
    box-shadow: 2px;
    border-radius: 8px;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 5px 0px 15px;
}
input:focus{
    background-color: #c0e78d;
}
.btn{
    text-align: center;
}
button{
    background-color: rgb(233, 79, 143);
    font-size: 30px;
    color: antiquewhite;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    border: 1px solid rgb(61, 50, 50);
    box-shadow: 2px;
}
.radio input{
    accent-color: rgb(69, 135, 197) ;
    transform: scale(1.5);
    

}